<nav class="app__navbar" role="navigation">
    <div class="app__navbar-logo">
        <a href="/"><img src="/Logo.svg" alt="logo"></a>
    </div>
    <div class="app__navbar-logo-mobile">
        <a href="/"><img src="./mobile-logo.svg" alt="logo" /></a>
    </div>
    <ul class="app__navbar-links">
        <li class="app__flex p-text">
            <a href="/#">Item 1</a>
        </li>
        <li class="app__flex p-text">
            <a href="/#">Item 2</a>
        </li>
        <li class="app__flex p-text">
            <a href="/#">Item 3</a>
        </li>
    </ul>
    <div class="app__navbar-right">

    </div>
    <div class="app__navbar-menu">
        <i data-feather="menu" id="menu-button"></i>
        <div class="app__navbar-menu-content" id="navbar-menu">
            <i data-feather="x" id="close-menu-button"></i>
            <ul>
                <li class="app__flex p-text">
                    <a href="/#">Item 1</a>
                </li>
                <li class="app__flex p-text">
                    <a href="/#">Item 2</a>
                </li>
                <li class="app__flex p-text">
                    <a href="/#">Item 3</a>
                </li>
            </ul>
        </div>
    </div>
</nav>