<div class="topic-card" style="background-image: url('/topics/{{ .Topic.slug }}.jpg')">
    <a href="/topics/{{ .Topic.slug }}">
        <div class="overlay">
            <div class="topic-card-image">
                <p class="overlay-topic-title">{{ .Topic.name }}</p>
            </div>
            <div class="topic-card-info">
                <p class="topic-card-description">{{ .Topic.description }}</p>
            </div>
            <div class="topic-article-count">
                {{ $count := 0 }}
                {{ with .Site }}
                {{ range .RegularPages }}
                    {{ if or (eq .Params.topic $.Topic.name) (in .Params.subtopic $.Topic.name) }}
                        {{ $count = add $count 1 }}
                    {{ end }}
                {{ end }}
                {{ end }}
                {{ $count }}
                <i data-feather="book-open" id="topic-card-book-open"></i>
            </div>
        </div>
    </a>
</div>

