<div class="topic-card" style="background-image: url('/topics/{{ .Page.Params.slug }}.jpg')">
    <a href="/topics/{{ .Page.Params.slug }}">
        <div class="overlay">
            <div class="topic-card-image">
                <p class="overlay-topic-title">{{ .Page.Params.name }}</p>
            </div>
            <div class="topic-card-info">
                <p class="topic-card-description">{{ .Page.Params.description }}</p>
            </div>
            <div class="topic-article-count">
                {{ .Count }}
                <i data-feather="book-open" id="topic-card-book-open"></i>
            </div>
        </div>
    </a>
</div>
