<div class="topics-page-container">
    <h1>Topics</h1>
    <div class="topic-filters-container">
        {{- partial "components/topics/search.html" . }}
        <div class="topics-filter-btn">
            <img src="/assets/filter.svg" />
        </div>
    </div>
    <div class="topics-content">
        {{ range .Site.Data.topics }}
            <div class="topic-card-container" data-topic="{{ .name | lower }}">
                {{- partial "components/topics/topicsCard.html" . }}
            </div>
        {{ end }}
    </div>    
</div>