<div class="page-post">
    <div class="post-title">
        <p>{{ .Title }}</p>
    </div>
    <div class="post-heading">
        <span class="post-date-published">
            <p class="post-date-published-heading">Date Published</p>
            <p class="post-date-published-date">{{ .Date.Format "January 2, 2006" }}</p>
        </span>
        <span class="post-heading-divider">
            /
        </span>
        <span class="post-social-bar">
            {{- partial "components/socialBar.html" }}
        </span>
    </div>
    <div class="post-image">
        <img src="/posts/{{ $.File.BaseFileName }}.jpg" alt="{{ $.File.BaseFileName }}" />
    </div>
    <div class="post-topics-list">
        {{- partial "components/topicsList.html" . }}
    </div>
</div>