<!DOCTYPE html>
<html>
{{- partial "head.html" . -}}

<body>
    <div class="app">
        {{- partial "header.html" . -}}
        <div class="content-wrap">
            {{ if .IsHome }}
                {{- partial "intro.html" . -}}
                {{- partial "gallery.html" . -}}
                {{- partial "popular.html" . -}}
            {{ else }}
                {{ block "main" . }}{{ end }}
            {{ end }}
        </div>
        {{- partial "footer.html" . -}}
        {{- partial "script.html" . -}}
    </div>
</body>

</html>