<div class="related-articles">
    <p class="related-articles-header">You might also like:</p>
    {{ $currentPage := . }}
    {{ $relatedPosts := where .Site.RegularPages.ByDate.Reverse "Params.type" "eq" "post" }}
    {{ $filteredPosts := where $relatedPosts "Title" "ne" $currentPage.Title }}
    {{ $firstSix := first 6 $filteredPosts }}
    {{ range $index, $page := $firstSix }}
        <div class="related-articles-article">
            <a href="{{ .Permalink }}">
                {{ $page.Title }}
            </a>
        </div>
    {{ end }}
    <div class="related-articles-see-more">
        <a href="/top-stories">See All Popular Posts</a>
    </div>
</div>
