.page-post {
    display: flex;
    flex-direction: column;

    .post-title {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        p {
            font-weight: 900;
            line-height: 1.12;
            letter-spacing: 1.5px;
            font-size: calc(1rem + 1vw);
            
            @media screen and (max-width: 699px) {
                padding-top: 2rem;
                line-height: 2.5rem;
                font-size: 2.5rem;
            }

            @media screen and (min-width: 700px) and (max-width: 999px) {
                padding: 3rem 1rem 0 1rem;
                line-height: 3rem;
                font-size: 3rem;
            }

            @media screen and (min-width: 1000px) {
                font-size: 4.5rem;
                font-weight: 900;
                padding-top: 2rem;
            }
        }
    }

    .post-heading {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;

        @media screen and (min-width: 700px) {
            flex-direction: row;
        }

        .post-date-published {

            .post-date-published-heading {
                font-style: italic;
            }

            .post-date-published-date {
                font-weight: bold;
            }

            p {
                font-size: calc(1rem + 0.2vw);
                margin: 0 1rem 0 0;

                @media screen and (max-width: 700px) {
                    margin: 0;
                    text-align: center;
                }
            }

            @media screen and (max-width: 700px) {
                text-align: center;
                margin: 0 0rem 1rem 0;
            }
        }

        .post-heading-divider {
            font-size: calc(4rem + 0.5vw);;
            font-weight: 100;
            color: var(--color-secondary-light);

            @media screen and (max-width: 700px) {
                display: none;
            }

        }

        .post-social-bar {
            margin-left: 1rem;

            @media screen and (max-width: 700px) {

                margin: 0 0rem 1rem 0;
            }
        }
    }

    .post-image {

        img {
            width: 100%;
            border-radius: 5px;
        }
    }
}