@import 'variables';

@import 'common';

@import 'header';
@import 'intro';
@import 'gallery';
@import 'popular';
@import 'single';
@import 'footer';
@import 'components/socialBar.scss';
@import 'components/relatedArticles.scss';
@import 'components/postPage/post.scss';
@import 'components/topicsList.scss';

.app {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.content-wrap {
    flex: 1;
}


* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    font-family: 'Roboto';
}

html::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
}