// ==============================
// Variables
// ==============================

:root {
    --color-primary: #fff;
    --color-opposite-primary: #000;
    --color-secondary: #808080;
    --color-secondary-light: rgba(128, 128, 128, 0.5);
    --color-bubble-background: rgba(0, 0, 0, 0.6);
    --box-shadow-default: 0 0 20px rgba(168, 168, 168, 0.2);
    --color-white: #fff;
}