.app__flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.p-text {
    font-size: 1rem;
    text-align: left;
    color: #e4e4e4;
    line-height: 1.5;
}

@media screen and (min-width: 2000px) {
    .p-text{
        font-size: 1.75rem;
    }
}

.hidden {
    display: none;
}

.heading-text {
    font-weight: 900;
    @media screen and (min-width: 2000px) {
        font-size: 3rem;
    }

    @media screen and (min-width: 1000px) and (max-width: 2000px) {
        font-size: 3rem;
    }
    

    @media screen and (max-width: 1000px){
        font-size: 2rem;
    }
}

.italic-text {
    font-style: italic;

    @media screen and (min-width: 2000px) {
        font-size: 1rem;
    }

    @media screen and (min-width: 1000px) and (max-width: 2000px) {
        font-size: 1rem;
    }
    

    @media screen and (max-width: 1000px){
        font-size: 1rem;
    }
}

.p-heading-selections {
    font-size: 1.5rem;
    font-weight: bold;

    &:hover {
        cursor: pointer;
        text-decoration: underline;
        color: var(--color-secondary);
    }
} 