.app__popular {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    flex-direction: column;

    @media screen and (min-width: 2000px) {
        margin: 7.5rem 40rem 0 40rem;
    }

    @media screen and (min-width: 1400px) and (max-width: 2000px) {
        margin: 5.5rem 12rem 0 12rem;
    }

    @media screen and (min-width: 1000px) and (max-width: 1400px) {
        margin: 5.5rem 6rem 0 6rem;
    }

    @media screen and (max-width: 1000px) {
        margin: 2rem 1rem 0 1rem;
    }
}

.app__popular-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.app__popular-carousel {
    display: flex;
    flex-direction: row;
    position: relative;
    width: 100%;

    .carousel-card {
        margin: 0 1rem 0 0;

        .post-img {

            img {
                width: 100%;
                height: 12rem;
                border-radius: 10px 10px 0 0;
            }
        }

        .post-info {
            background-color: var(--color-secondary-light);
            border-radius: 0 0 10px 10px;
            height: 12rem;
            flex-grow: 1;
            display: flex;
            flex-direction: column;
            overflow: hidden;

            .post-topic {
                padding: 1rem 0 0 1rem;
                margin: 0;
                font-weight: 800;
            }

            .post-title {
                padding: 1rem;
                margin: 0;
                font-size: 1.5rem;
                font-weight: bold;
                display: -webkit-box;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
                overflow: hidden;
                max-height: 6rem;
            }

            .post-publish {
                margin-top: auto;
                padding: 0 1rem 0.5rem 1rem;
            }
        }

        @media screen and (max-width: 700) {
            flex-basis: 100%;
        }

        @media screen and (min-width: 700) and (max-width: 1000) {
            flex-basis: 50%;
        }

        @media screen and (min-width: 1000) and (max-width: 2000) {
            flex-basis: 33.3333%;
        }

        @media screen and (min-width: 2000) {
            flex-basis: 25%;
        }
    }
    .carousel-chevron {
        position: absolute;
        top: 50%; 
        transform: translateY(-50%);
    
        width: 2rem;
        height: 2rem;
        background-color: var(--color-secondary-light);
        color: var(--color-primary);
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1.5rem;
        border-radius: 50%;
        cursor: pointer;
    }
    
    .carousel-chevron-left {
        left: -2.1rem;
    }
    
    .carousel-chevron-right {
        right: -1.1rem;
    }

    @media screen and (max-width: 1000) {
        display: none;
    }
}

