<div class="app__gallery">
    <div class="app__gallery-selections">
        <p class="p-heading-selections">Latest</p>
        <p class="p-heading-selections">View all</p>
    </div>
    <div id="app__gallery-items">
        {{ $recentPosts := first 3 (where .Site.RegularPages.ByDate.Reverse "Params.type" "eq" "post") }}
        <div class="post-container-main">
            {{ with index $recentPosts 0 }}
            <a href="{{ .Permalink }}">
                <div class="post-recent" style="background-image: url('/posts/{{ .File.BaseFileName }}/main.jpg')">
                    <div class="overlay">
                        <div class="overlay-info">
                            <div class="topic-container">
                                <p>{{ .Params.topic }}</p>
                            </div>
                            <p class="post-title">{{ .Title }}</p>
                            <p class="post-publish">{{ .Date.Format "January 2, 2006" }}</p>
                        </div>
                    </div>
                </div>
            </a>
            {{ end }}
        </div>
        <div class="post-container">
            {{ with index $recentPosts 1 }}
            <a href="{{ .Permalink }}">
                <div class="post" style="background-image: url('/posts/{{ .File.BaseFileName }}/main.jpg')">
                    <div class="overlay">
                        <div class="overlay-info">
                            <div class="topic-container">
                                <p>{{ .Params.topic }}</p>
                            </div>
                            <p class="post-title">{{ .Title }}</p>
                            <p class="post-publish">{{ .Date.Format "January 2, 2006" }}</p>
                        </div>
                    </div>
                </div>
            </a>
            {{ end }}
            {{ with index $recentPosts 2 }}
            <a href="{{ .Permalink }}">
                <div class="post" style="background-image: url('/posts/{{ .File.BaseFileName }}/main.jpg')">
                    <div class="overlay">
                        <div class="overlay-info">
                            <div class="topic-container">
                                <p>{{ .Params.topic }}</p>
                            </div>
                            <p class="post-title">{{ .Title }}</p>
                            <p class="post-publish">{{ .Date.Format "January 2, 2006" }}</p>
                        </div>
                    </div>
                </div>
            </a>
            {{ end }}
        </div>
    </div>
    <div id="app__gallery-items-mobile">
        {{ $recentPosts := first 3 (where .Site.RegularPages.ByDate.Reverse "Params.type" "eq" "post" )}}
        {{ range $index, $page := $recentPosts }}
        <a href="{{ $page.Permalink}}">
            <div class="post" style="background-image: url('/posts/{{ .File.BaseFileName }}/main.jpg');">
                <div class="overlay">
                    <div class="overlay-info">
                        <div class="topic-container">
                            <p>{{ $page.Params.topic }}</p>
                        </div>
                        <p class="post-title">{{ $page.Title }}</p>
                        <p class="post-publish">{{ $page.Date.Format "January 2, 2006" }}</p>
                    </div>
                </div>
            </div>
        </a>
        {{ end }}
    </div>
</div>