<div class="app__popular">
    <div class="app__popular-title">
        <p class="p-heading-selections">Popular Posts</p>
    </div>

    <div class="app__popular-carousel">
        <i data-feather="chevron-left" class="carousel-chevron carousel-chevron-left"></i>
        {{ $recentPosts := (where .Site.RegularPages.ByDate.Reverse "Params.type" "eq" "post" )}}
        {{ range $index, $page := $recentPosts }}
        <div class="carousel-card">
            <a href="{{ .Permalink }}">
                <div class="post-img">
                    <img src="/posts/{{ $page.File.BaseFileName }}/main.jpg" alt="{{ $page.File.BaseFileName }}" />
                </div>
                <div class="post-info">
                    <p class="post-topic">{{ $page.Params.topic }}</p>
                    <p class="post-title">{{ $page.Title }}</p>
                    <p class="post-publish">{{ $page.Date.Format "January 2, 2006"}}</p>
                </div>
            </a>
        </div>
        {{ end }}
        <i data-feather="chevron-right" class="carousel-chevron carousel-chevron-right"></i>
    </div>
</div>